<template>
  <div id="app">Hello Workshop!</div>
</template>

<script>
import { get } from 'axios';

export default {
  created() {
    get('/api/apartament').then((data) => {
      console.log(data);
    });
  },
};
</script>
